<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body"  >
        <div class="row" >
            <img src="./assets/2005_aviao_14bis_500.jpg" 
                 class="img-responsive center-block"
                 style="max-width: 400px;margin: auto; padding-bottom:50px"/>
        </div>
        <div class="row"  >
            <div class="text-center">Copied by:</div>
            <h3 class="text-center">Adler Cossovan</h3>

            <div class="text-center">@Cossoa01</div>
            <div class="text-center">
                <a href="https://github.com/adlercossovan" target="_blanket">https://github.com/adlercossovan</a>
            </div>
        </div>
    </div>
</div>